@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background: #1a1b22;
}
body{
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1b22;
  color: #F2F2F2;
}
